/* Metrics.css */

.tableMetricsContainer {
  width: 100%;
  /* margin-top: 20px; */
  font-family: "Arial", sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

th,
.borderStyle {
  border: 1px solid black;
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.stats {
  margin-top: 20px;
}

.stats-item {
  margin-bottom: 10px;
}
