.App {
  text-align: center;
  width: 100vh;
}

/* In your CSS file: */
.app-container {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  border: none;
}

/* Custom CSS to override SharePoint styles: */
/* Note: You might need to adjust the selectors and styles to match your SharePoint version and configuration */
.contentwrapper {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  height: fit-content;
}

#pageContentTitle {
  display: none !important;
}

#titlerow {
  display: none !important;
}
/* .ms-pub-contentLayout{
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
} */

.ms-pub-contentLayout{
  padding: 0;
}